// $bacground: #e0dddd;
$bacground: #bdcad7;
$main-color: #f8f4f4;
$lightTxt: #e7e5e5;
$mediumTxt: #8b8787;
$grey-main: #efefef;
$blackColor: #000;
$hamburger: #534d4d;
$hamburger-hover: #ffffff;
$card-color: linear-gradient(147deg, #f9fcff 0%, #e9edf1 74%);
